.login-container {
    width: 400px;
    height: 410px;
    margin: auto;
    padding: 16px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 100px;
    border-radius: 20px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin-top: 20px;
}


input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

button {
    background-color: #464646;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;

}

button:hover {
    opacity: 0.8;
}

