.droppable {
    width: 500px;
    height: 300; 
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 700px;
}

.tituloDropp {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.containers {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.task {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px 16px;
  margin: 20px;
  margin-bottom: 8px;
  cursor: grab;
}

.task--dragging {
  opacity: 0.5;
  cursor: grabbing;
}