@import "tailwindcss";

.documentos-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.documentos-container {
    margin: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 20px;
    width: 1600px;
    height: auto;
}

.documentos-container a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #292929;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.documentos-container a:hover {
    background-color: #555;
}

.documentos-container th, .documentos-container td {
    padding: 10px;
    text-align: left;
}

.row {
    margin-bottom: 10px;
    width: 500px;
}