* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
}

nav {
  float: left;
  width: 200px;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 90vh;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

nav a:last-child {
  margin-top: auto;
}

nav a .big-icon {
  font-size: 29px;
}