* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f8f9fa; 
  padding: 1em;
  display: flex;
  flex-direction: column;
  z-index: 1000; 
  border-right: 1px solid #ddd;
}

nav a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0; 
}

nav a .big-icon {
  font-size: 24px;
}

nav a:last-child {
  margin-top: auto;
}

body {
  padding-left: 220px; 
  padding-top: 20px;
}